@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Gilda+Display&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.margin-wrapper {
  margin: 20px; 
  background-color: yellow; 
}
.element-to-style {
  background-color: white; /* Set the background color of the element */
  border: 1px solid green; /* Set the border color */
  padding: 10px; /* Add padding to separate content from the border */
}